
body{font-family: cooper black, chiller; font-size: 26px; background-image: url(pictures/background.jpg); background-position: right top; 
background-attachment: fixed;
 }
 tbody {color:white;
 }
div { width: 220px; height: 220px; background-color: black; border-radius: 10px; border: 2px solid;
opacity: 0.5; display: flex;
align-items: center; justify-content: center; }

table img{border: 2px solid black;
}

/*ajánló formázása*/
#recommendation{width: 300px; height: 100px;background-color: black; opacity:0.6; border-radius: 10px; color: white; position: relative; left: 40%;top: 30%;width: 20%;text-align: center;}
