@import url('https://fonts.googleapis.com/css?family=Sacramento');

/* Style the video: 100% width and height to cover the entire window */
body { 
  background: url(test.gif) no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-family: 'Sacramento';
}

/* Add some content at the bottom of the video/page */
.content {
  width: min-content;
  letter-spacing: .2em;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 10px;
}

.content-title {
  display: flex;
  justify-content: space-between;
}

img {
  height: 100px;
  width: 100px;
}
