body {
  background: url("http://3.bp.blogspot.com/-1B2evbPvQ_E/TvAjJVk-vYI/AAAAAAAABS8/mGbtPIxEi7c/s1600/bell6.jpg") no-repeat center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #ffd700;
  letter-spacing: 5px;
  font-size: 20px;
  line-height: 150%;
  text-shadow: 3px 3px black;
}

.wrapper {
  margin: 30% 20%;
}

a:link, a:visited {
    background-color: #1a1aff;
    border-radius: 5px;
    opacity: 0.8;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #000099;
    opacity: 0.8;
}

h1 {
  margin-bottom: 5%;
}
