body {
  background: url("images.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #186AC1;
  letter-spacing: 5px;
  font-size: 20px;
  line-height: 150%;
  text-shadow: 3px 3px black;
}
.wrapper {
  margin: 30% 20%;
}
img {
  text-shadow: 3px 3px black;
  border-radius: 10px;
  width: 300px;
  height: 201px;
}
h1 {
  margin-bottom: 5%;
}
